<div class='center'>
  <h1>Room</h1>
  <div id='messages'>
  </div>

  <form id='message_form' class='chat-form-content'>
      <label type='text' for='user_to_sent'>Usuario: </label>
      <input type='text' id='user_to_sent' autocomplete="off" />

      <label type='text' for='message_to_sent'>Mensagem: </label>
      <input type='text' id='message_to_sent' autocomplete="off" />

      <input type="submit" value="Enviar" >
  </form>
</div>